nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 40px;
  top: 30px;
}

nav > * {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}
