body {
  margin: 0;
  background: #1e2f5d;
  color: #a4cff4;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  line-height: 1.5;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root,
#root > div,
main {
  height: 100%;
}

code,
pre,
textarea {
  font-family: "Roboto Mono", monospace;
}

textarea,
pre {
  background: #18264a;
  border: 0;
  resize: none;
  color: #d0d3d6;
  white-space: pre-wrap;
  padding: 20px;
  margin: 0;
  text-align: left;
}

textarea:focus {
  outline: 2px solid #0e1833;
}
textarea {
  border-right: 1px solid #1e2f5d;
}

.toast {
  border: none;
  background: #5fbb9e;
  border-radius: 4px;
  color: white;
  padding: 10px;
  position: fixed;
  right: 50px;
  bottom: 30px;
  cursor: pointer;
}

.areas {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

small {
  display: block;
  font-style: italic;
  margin-bottom: 2rem;
}

select {
  position: relative;
  transition: all 0.2s;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 2rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  border: 1px solid;
  border-color: #1a4669;
  color: rgb(214, 222, 235);
  background-color: rgb(1, 22, 39);
  padding-bottom: 1px;
  line-height: normal;
}

select:hover {
  border-color: #cbd5e0;
}

select:focus {
  z-index: 1;
  border-color: #3182ce;
  box-shadow: 0 0 0 1px #3182ce;
}

.select-arrow {
  position: absolute;
  display: inline-flex;
  width: 1.5rem;
  height: 100%;
  align-items: center;
  justify-content: center;
  right: 0.5rem;
  top: 50%;
  pointer-events: none;
  z-index: 2;
  transform: translateY(-50%);
  color: inherit;
}

main.api {
  text-align: left;
  width: 1200px;
  max-width: 80%;
  margin: auto;
  margin-top: 50px;
}

p {
  max-width: 600px;
}
